.container-title {
    font-size: 30px;
    color: #CA1A5A;
    font-weight: 700;
    margin-bottom: 20px;
}
.container-title .description {
    font-size: 15px;
}

/* 스드메 상단 탭 */
.tabs {
    display: flex;
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}
.tab {
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
}

/* 그리드 */
.divide {
    display: flex;
    justify-content: space-between;
}
.body {
    display: none;
}
.body-grid {
    width: 700px;
    border: 1px solid #757575;
    border-radius: 10px;
    padding: 10px 30px;
}
.main img {
    width: 200px;
    height:200px;
    float: left;
    margin-right: 20px;
}
.selected {
    margin: 10px;
    justify-content: space-between;
    padding-top: 30px;
}
.content-main {
    text-align: left;
}
.bold {
    font-weight: 600;
    font-size: 18px;
}
.address {
    font-size: 14px
}
.basic-option {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.basic-detail {
    font-size: 12px;
}
.main-price {
    font-weight: 700;
}

/* 세부 옵션 */
.option {
    margin: 0 auto;
}
.option-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.option-name {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.option-price {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

/* 선택하신 목록 */
.select-container {
    margin-left: 30px;
    width: 450px;
}
.select-list {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 20px;
}
.select-title {
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #333;
}
.select-item {
    margin-top: 10px;
    margin-bottom: 389px;
    overflow-y: auto; /* 선택 목록이 많아질 경우 스크롤이 가능하도록 설정 */
    padding: 10px;
    flex-grow: 1; /* 목록이 공간을 채우게 함 */
}
.item-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 30px;
}
.selected-studio, .selected-dress, .selected-makeup {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px 0;
    font-size: 18px;
}
.company-info,
.company-price {
    font-weight: 700;
}
.option-item-added {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
}

/* 가격 표시 */
.price {
    margin-bottom: 10px;
}
.price-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #757575;
    padding-bottom: 5px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 14
}
.reselection {
    font-size: 13px;
    text-align: right;
    margin-top: 10px;
}
.note {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 10px;
    color: #777;
}
.note-bold {
    font-weight: 700;
}

/* 이전, 다음 버튼 */
.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.btn .next {
    width: 270px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 
.btn .back {
    width: 270px;
    height: auto;
    font-size: 14px;
    color: #000;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

/* js 설정 */
.tab-selected {
    color: #ca1a5a;
    border-bottom: 2px solid #ca1a5a;
}
.contents-active {
    display: block;
}