.head {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}
.bold {
    font-weight: bolder;
    font-size: 23px;
    padding-bottom: 20px;
}
/* 그리드 적용 */
.content-box {
    display: grid;
    grid-row-gap: 25px;
}

/* 상단 공지 */
.notice {
    padding: 25px;
    border: 1px solid #757575;
    border-radius: 5px;
}
.notice-title {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.notice p {
    font-size: 10px;
    color: #757575;
    line-height: 25px;
}

/* 선택하신 목록 */
.select {
    border: 100px;
}
.select-list {
    padding: 30px;
    border: 1px solid #757575;
    border-radius: 5px;
    margin-bottom: 12px;
}
.select-list h1 {
    margin: 10px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid #000;
}
.company {
    padding: 10px;
}
.name {
    color: #ca1a5a;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 7px;
}
.company img {
    width: 250px;
    height: 250px;
    float: left;
    margin-right: 30px;
    object-fit: cover;
}
.company-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 세부 옵션 */
.options {
    padding-top: 20px;
    padding-bottom: 120px;
}
.option-detail {
    font-size: 20px;
    font-weight: 500;
}
.option {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(117, 117, 117, 0.7);
}

/* 가격 표시 */
.final {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    color: #000;
    font-size: 24px;
    font-weight: bolder;
}

/* 하단 버튼 */
.btn {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 10px;
}
.btn .back {
    width: 270px;
    height: auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #b6b6b6;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
.btn .add {
    width: 270px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ca1a5a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}