<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    <settings>
        <!-- snake to camel -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 쿼리에 보내는 파라미터가 null인 경우 에러 발생 방지 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- sql 로그  -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>

        <typeAlias  alias="CustomerDTO" type="kr.co.wedder.customer.domain.CustomerDto" />
        <typeAlias  alias="PackageDto" type="kr.co.wedder.sdmpackage.domain.PackageDto" />
        <typeAlias  alias="PackageDetailDto" type="kr.co.wedder.sdmpackage.domain.PackageDetailDto" />
        <typeAlias  alias="EstimateDto" type="kr.co.wedder.estimate.domain.EstimateDto" />
        <typeAlias  alias="PaymentRequest" type="kr.co.wedder.payment.domain.PaymentRequest" />


        <!-- company alias -->
        <typeAlias alias="CompanyDto" type="kr.co.wedder.company.domain.CompanyDto" />
        <typeAlias alias="HallDto" type="kr.co.wedder.company.domain.HallDto" />
        <typeAlias alias="StudioDto" type="kr.co.wedder.company.domain.StudioDto" />
        <typeAlias alias="DressDto" type="kr.co.wedder.company.domain.DressDto" />
        <typeAlias alias="MakeupDto" type="kr.co.wedder.company.domain.MakeupDto" />
        <typeAlias alias="Pagination" type="kr.co.wedder.company.domain.Pagination" />

        <!--calendar alias  -->
        <typeAlias alias="CompanyScheduleDto" type="kr.co.wedder.calendar.domain.CompanyScheduleDto"/>
        <typeAlias alias="SearchItem" type="kr.co.wedder.calendar.domain.SearchItem"/>
        
        <!--mypage alias  -->
        <typeAlias alias="MyPageDTO" type="kr.co.wedder.mypage.domain.MyPageDTO"/>
        <typeAlias alias="ReservationDto" type="kr.co.wedder.mypage.domain.ReservationDto"/>
        <typeAlias alias="HistoryDto" type="kr.co.wedder.mypage.domain.HistoryDto"/>
        <typeAlias alias="HallInfoDto" type="kr.co.wedder.mypage.domain.HallInfoDto"/>
        <typeAlias alias="CompanyImage" type="kr.co.wedder.mypage.domain.CompanyImage"/>
        
        <!--option table  -->
        <typeAlias alias="PackageCategoryDto" type="kr.co.wedder.mypage.domain.PackageCategoryDto"/>
        <typeAlias alias="StudioInfo" type="kr.co.wedder.mypage.domain.StudioInfo"/>
        <typeAlias alias="MakeupInfo" type="kr.co.wedder.mypage.domain.MakeupInfo"/>
        <typeAlias alias="DressInfo" type="kr.co.wedder.mypage.domain.DressInfo"/>
        <typeAlias alias="OptionDto" type="kr.co.wedder.mypage.domain.OptionDto"/>
        
        <typeAlias alias="VisitCriteria" type="kr.co.wedder.mypage.domain.VisitCriteria"/>

    </typeAliases>
</configuration>