@charset "UTF-8";

.calendar-container{
	width: 500px;
	height: 500px;
	
	margin: 20px;
	
	text-align: center;
	
}
.calendar-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.calendar-days{
	
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.day{
	font-size: 20px;
	
	margin: 25px;
}

.calendar-dates{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 5px;
}
.calendar-dates > div {
			padding: 10px;
            text-align: center;
            font-weight: bold;
			border-radius: 10px;
        }

.date {
  cursor: pointer;
  padding: 5px;
	color: #CCCCCC;
}
.holiday{
	background-color: red;
	font-weight: bold; 
}

.highlight{
	background-color: pink;
}

#yearMonth{
   display: flex;
}
#currentHour , #currentMinute, #currentSecond{
	display: none;
}

#nextBtn{
	border-radius: 5px;
	border: 1px solid #D0D5DD;
	padding: 0 9px;
	margin: 23px 25px;
	width: 30px;
	height: 30px;
}
#prevBtn{
	border-radius: 5px;
	border: 1px solid #D0D5DD;
	padding: 0 9px;
	margin: 23px 25px;
	width: 30px;
	height: 30px;
}
