@charset "UTF-8";

.calendar-container{
	width: 500px;
	height: 500px;
	
	margin: 20px;
	
	text-align: center;
	
}
.calendar-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.calendar-days{
	
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.day{
	font-size: 20px;
	
	margin: 25px;
}
.sunday{
	color: red;
}
.saturday{
	color: blue;
}
.calendar-dates{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 5px;
}
.calendar-dates > div {
			padding: 10px;
            text-align: center;
            font-weight: bold;
			border-radius: 10px;
        }
.calendar-dates > div:nth-child(7n+1){
	color: red;
}
.calendar-dates> div:nth-child(7n){
	color:blue;
}
.date {
  cursor: pointer;
  padding: 5px;
}
.holiday{
	background-color: red;
	font-weight: bold; 
}

.highlight{
	background-color: pink;
}

#yearMonth{
   display: flex;
   flexdirection: column;
}
#currentHour , #currentMinute, #currentSecond{
	display: none;
}

