.pagination-container,
.pagination,
.button,
.page-btns,
.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container {
    padding: 20px;
    border-radius: 8px;
    column-gap: 12px;
    background: #fff;
}

.button {
    border: none;
}

.button i {
    pointer-events: none;
}

.button:disabled,
.page-btn.disabled {
    color: #b3b3b3;
    pointer-events: none;
    cursor: not-allowed;
}

.button,
.page-btn {
    height: 45px;
    width: 45px;
    font-size: 20px;
    color: #666666;
    background-color: #f2f2f2;
    border-radius: 6px;
    cursor: pointer;
}

.page-btns {
    column-gap: 12px;
}

.page-btn {
    font-weight: 500;
    text-decoration: none;
}

.button:hover,
.page-btn:hover {
    color: #fff;
    background-color: #ca1a5a;
}

.page-btn.active {
    color: #fff;
    background: #ca1a5a;
}
