@charset "UTF-8";

.calendar-container{
	width: 500px;
	height: 500px;
	
	margin: 20px;
	
	text-align: center;
	
}
.calendar-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.calendar-days{
	
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.day{
	font: bold;
	font-size: 20px;
	
	margin: 25px;
}
.sunday{
	color: red;
}
.saturday{
	color: blue;
}