.List-search-bar{
  display: flex;
}
.company-kind .List-search-bar input {
  height: 35px;
  border-radius: 5px;
  padding: 10px;
}

.company-kind {
  flex-direction: row;
  justify-content: space-between;

  height: 40px;
  margin: 10px 0px 20px;

  background-color: white;
  border-radius: 4px;
}
.company {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.company-kind div {
  padding: 5px 20px;

  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.company-kind .brand {
  height: 30px;
}
.company-kind .brand:hover {
  border-bottom: 3px solid #ca1a5a;
  font-size: 16px;
}
.search-btn {
  border: none;
  all: unset;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}


#search-icon {
  width: 20px;
  height: 20px;
}
.search-bar {
  width: 250px;
  padding: 8px;
}
