/* 슬라이드 상단 공백 해결 */
body {
    margin-top: 143px !important;
}

/* 슬라이드 */
.slider-box {
    height: 75vh;
}
.slider-box .swiper {
    height: 100%;
}
.swiper > .swiper-wrapper > .swiper-slide:nth-child(odd) {
    background-color: rgba(206, 26, 90, 0.15);
}
.swiper > .swiper-wrapper > .swiper-slide:nth-child(even) {
    background-color: rgba(206, 26, 90, 0.15);
}
.banner-content {
    text-align: left;
    margin: 170px 500px;
}
.banner-content2 {
    text-align: center;
    margin: 170px 500px;
}

/* 슬라이드 내용 */
.banner-bold {
    font-size: 50px;
    font-weight: bold;
}
.banner-text1 {
    margin: 20px 0px 20px;
    color: #666;
}
.banner-text2 {
    font-size: 50px;
    color: #000;
    font-weight: 700    ;
}
.banner-text3 {
    font-size: 35px;
    color: #000;
    font-weight: 700    ;
}
.gift {
    position: fixed;
    top: 155px;
    right: 214px;
}
.coin {
    position: fixed;
    top: 292px;
    right: 473px;
}
span.color {
    color: red;
    vertical-align: text-bottom;
}
.button-list {
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 1. 패키지 설명 */
.container {
    padding: 150px 0 200px 0;
}

.package-info h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #ca1a5a;
    margin-bottom: 30px;
}

.package-info p {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
    margin-bottom: 130px;
}

.recommendations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 130px 80px;
    margin-bottom: 120px;
}

.recommendation img {
    width: 100px;
    height: 100px;
}

.recommendation h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    margin-bottom: 10px;
}

.recommendation p {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(107, 118, 132);
}

/* 2. 패키지 이용방법 */
.package-container {
    padding-top: 150px
}

.package-title h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #ca1a5a;
    margin-bottom: 30px;
}

.package-title p {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
    margin-bottom: 130px;
}

.step-content {
    display: flex;
    flex-direction: column;
}

.steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 130px 80px;
    margin-bottom: 120px;
}

.step-content img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.step-detail h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    margin-bottom: 10px;
}
.step-detail p {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(107, 118, 132);
}


/* 베스트 패키지 */
.package-best {
    font-size: 24px;
    color: #333;
    font-weight: bolder;
}
.package-watch {
    font-size: 14px;
}
.package-watch a {
    text-decoration-line: none;
}
.package-list {
    display: flex;
    justify-content: space-around;
}
.package-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
}
.package-content img {
    width: 100%;
    margin-bottom: 10px;
}
.package-content h3 {
    font-size: 18px;
    color: #333;
}
.package p {
    color: #666;
}

.package-btn {
    display: flex;
    justify-content: center;
}

.package-btn button {
    border: none;
    padding: 12px 30px;
    background-color: #ca1a5a;
    color: white;
    border-radius: 5px;
    text-align: center;
}


/*패키지 배너*/
.swiper-slide {
    overflow: hidden;
}

.swiper-container {
    overflow: hidden;
}

.first-title {
    color: #5D493E;
    font-size: 24px;
    margin-bottom: 25px;
}

.first-title-2 {
    color: #004C8C;
    font-size: 24px;
    margin-bottom: 25px;
}

.second-title {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 30px;
    color: #333333;
}

.third-title {
    font-size: 20px;
    color: #ca1a5a;
}

.third-title-2 {
    font-size: 20px;
    color: #DAA520;
}

.package-top-banner-1 {
    width: 100%;
    height: 550px;
    position: relative;
    background-color: #FFFBF0;
}

.package-top-banner-2 {
    width: 100%;
    height: 550px;
    position: relative;
    background-color: #f4f5f5;
}

.package-main-content {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.package-show-button {
    position: absolute;
    top: 212px;
    background-color: #ca1a5a;
    color: #ffffff;
    padding: 7px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 35px;
}

.package-show-button:hover {
    color: #ffffff;
}

.estimate {
    background-color: #004C8C;
    color: #ffffff;
    margin-top: 7px;
}

.banner-coin {
    position: absolute;
    top: 247px;
    right: 330px;
    height: 149px;
}

.banner-gift {
    position: absolute;
    top: 93px;
    right: 120px;
    height: 251px;
}


/*배너 화살표 css*/
.swiper-button-prev, .swiper-button-next {
    color: black;
}

.swiper-prev {
    position: absolute;
    left: 10px;
    top: 45%;
}

.swiper-next {
    position: absolute;
    right: 10px;
    top: 45%;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 275px;
    top: auto;
    left: 0;
    width: 100%;
}
