a {
    pointer-events: auto;
}


/* 슬라이드 상단 공백 해결 */
body {
    margin-top: 143px !important;
}

/*패키지 배너*/
.swiper-slide {
    background-color: #f4f4f5;
}

.swiper-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.first-title {
    color: #5D493E;
    font-size: 22px;
    margin-bottom: 25px;
}

.first-title-2 {
    color: #004C8C;
    font-size: 22px;
    margin-bottom: 25px;
}

.second-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 23px;
    color: #222222;
}

.third-title {
    font-size: 20px;
    color: #ca1a5a;
}

.third-title-2 {
    font-size: 20px;
    color: #DAA520;
}

.package-top-banner {
    max-width: 1100px;
    margin: 0 auto;
    height: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.package-main-content {
    position: absolute;
    text-align: left;
    padding-left: 10px;
}

.estimate-show-button {
    display: inline-block;
    right: 0px;
    position: absolute;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #004C8C;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}
.estimate-show-button:hover {
    opacity: 90%;
}

.banner-gift {
    height: 206px;
}


/*배너 화살표 css*/
.swiper-button-prev, .swiper-button-next {
    color: #eeeeee;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

.swiper-prev {
    position: absolute;
    left: 10px;
    top: 290px;
}

.swiper-next {
    position: absolute;
    right: 10px;
    top: 290px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    top: 420px;
    left: 0;
    width: 100%;
}

/* 슬라이드 */
.slider-box {
    height: 75vh;
}
.slider-box .swiper {
    height: 100%;
}

.banner-content {
    text-align: left;
    margin: 170px 500px;
}
.banner-content2 {
    text-align: center;
    margin: 170px 500px;
}

/* 슬라이드 내용 */
.banner-bold {
    font-size: 50px;
    font-weight: bold;
}
.banner-text1 {
    margin: 20px 0px 20px;
    color: #666;
}
.banner-text2 {
    font-size: 50px;
    color: #000;
    font-weight: 700    ;
}
.banner-text3 {
    font-size: 35px;
    color: #000;
    font-weight: 700    ;
}
.gift {
    position: fixed;
    top: 155px;
    right: 214px;
}
.coin {
    position: fixed;
    top: 292px;
    right: 473px;
}
span.color {
    color: red;
    vertical-align: text-bottom;
}
.button-list {
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 상단 그리드 */
.pack-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    padding-left: 10px
}
.pack-title.line {
    border-bottom: 2px solid #000;
}
.grid-top {
    display: flex;
    justify-content: space-between;
}
.grid {
    border-radius: 5px;
    box-shadow: 5px 5px 7px #eeeeee;
    padding: 10px;
    position: relative;
}
.package-picture img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding-bottom: 10px;
}

.content {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #757575;
}
.content img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    object-fit: cover;
    float: left;
}
.content-bottom {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.content-bottom img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    object-fit: cover;
    float: left;
}
.content-detail {
    padding: 5px;
}
.detail {
    display: flex;
    justify-content: right;
    font-size: 10px;
    font-weight: 700;
}
.content-detail .up {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 5px;
}
.content-detail .down{
    color: #000;
    font-size: 11px;
    font-weight: 700;
}
/* 하단 그리드*/
.bot {
    margin-top: 50px;
    margin-bottom: 50px;
}
.price-range {
    align-content:center;
}
.range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 20px;
}
.price-title {
    font-size: 20px;
    font-weight: 700;
}
.btn-price {
    border: none;
    font-size: 14px;
    color: #757575;
}
/* 하단 그리드 내용 */
.package-search-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid-content {
    padding: 10px;
    margin-bottom: 10px;
}

.grid-pic img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.package-info {
    min-height: 83px;
}

.package-info .name {
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    width: 225px;
    margin: 12px 0 5px 0;
}

.prev-price {
    font-size: 13px;
    line-height: 13px;
    color: rgb(140, 140, 140);
    text-decoration: line-through;
    margin-bottom: 6px;
}

.sale-per {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: #ca1a5a;
    margin-right: 5px;
}

.current-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
}



.package-section {
    margin: 70px 0 120px 0
}


/* 조건 검색 버튼들 */
.search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.search-condition {
    display: flex;
    font-size: 14px;
}

.search-condition div span {
    border: 1px solid #eeeeee;
    color: #858585;
    border-radius: 5px;
    padding: 7px 14px;
    margin-right: 15px;
}

.search-condition div span img {
    width: 10px;
    height: 10px;
    margin-left: 15px;
}

.search-container {
    position: relative;
}

.search-bar {
    width: 250px;
    padding: 8px;
}

.search-btn {
    all: unset;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

#search-icon {
    width: 20px;
    height: 20px;
}
