<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wedder.calendar.dao.CalendarMapper">
<!--deleteAll  -->
	<delete id ="deleteAll">
		DELETE FROM wedder.company_schedule
	</delete>
	<delete id ="delete" parameterType="int">
		DELETE FROM wedder.company_schedule
		WHERE schedule_id=#{schedule_id}
	</delete>
	
	<insert id="insert" parameterType="CompanyScheduleDto">
		INSERT INTO wedder.company_schedule
		( company_id, company_name, `date`, `time`)
		VALUES(#{company_id}, #{company_name}, #{date}, #{time})
	</insert>
	
	  <!-- 정의된 SQL 문 -->
  <select id="selectFromSchedule">
    SELECT schedule_id, company_id, company_name, `date`, `time`
    FROM company_schedule
  </select>

  <!-- 포함하는 SQL 문 -->
  <select id="select" parameterType="int" resultType="CompanyScheduleDto">
    SELECT schedule_id, company_id, company_name, `date`, `time`
    FROM company_schedule
    WHERE schedule_id = #{schedule_id}
  </select>
	
</mapper>





