<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.wedder.company.dao.CompanyMapper">
    <resultMap id="companyDtoMap" type="kr.co.wedder.company.domain.CompanyDto">
        <id property="companyId" column="company_id" />
        <result property="companyName" column="company_name" />
        <result property="companyAddress" column="company_address" />
        <result property="introduce" column="company_introduce" />
        <result property="category" column="company_category" />
        <result property="phoneNum" column="phone_num" />
        <result property="operationHours" column="operation_hours" />
        <result property="instagramUrl" column="instagram_url" />
        <result property="basicPrice" column="basic_price" />
        <result property="mood" column="mood" />
        <result property="location" column="location" />
        <result property="imgId" column="img_id"/>
        <result property="imgSeq" column="img_seq" />
        <result property="imgUrl" column="img_url"/>

<!--        <collection property="hallDto" resultMap="hallDtoMap" />-->

        <association property="hallDto" javaType="kr.co.wedder.company.domain.HallDto">
            <id property="hallId" column="hall_id"/>
            <result property="companyId" column="company_id" />
            <result property="hallType" column="hall_type" />
            <result property="minPeople" column="min_people" />
            <result property="parking" column="parking" />
            <result property="mealPrice" column="meal_price" />
        </association>

        <association property="studioDto" javaType="kr.co.wedder.company.domain.StudioDto">
            <id property="studioId" column="studio_id" />
            <result property="companyId" column="company_id" />
            <result property="shootType" column="shoot_type" />
            <result property="shootFocus" column="shoot_focus" />
            <result property="rentalClothing" column="rental_clothing" />
            <result property="shootDuration" column="shoot_duration" />
            <result property="product" column="product" />
            <result property="hairChangeAvailability" column="hair_change_availability" />
            <result property="equipmentIncluded" column="equipment_included" />
        </association>

        <association property="dressDto" javaType="kr.co.wedder.company.domain.DressDto">
            <id property="dressId" column="dress_id" />
            <result property="companyId" column="company_id" />
            <result property="dressType" column="dress_type" />
            <result property="repairService" column="repair_service" />
            <result property="consultationTime" column="consultation_time" />
            <result property="fittingCnt" column="fitting_cnt" />
            <result property="measurementTime" column="measurement_time" />
            <result property="composition" column="composition" />
        </association>

        <association property="makeupDto" javaType="kr.co.wedder.company.domain.MakeupDto">
            <id property="makeupId" column="makeup_id" />
            <result property="companyId" column="company_id" />
            <result property="target" column="target" />
            <result property="makeupType" column="makeup_type" />
            <result property="position" column="position" />
        </association>

    </resultMap>

    <sql id="selectFromCompany">
        SELECT * FROM company
    </sql>

    <sql id="selectFromHallInfo">
        SELECT * FROM hallInfo
    </sql>

    <sql id="searchCondition">
        <if test="companyName != null and companyName != ''">
            c.company_name LIKE concat('%', #{companyName}, '%')
        </if>
        <if test="category != null and category != ''">
            AND c.company_category = #{category}
        </if>
    </sql>

    <select id="selectCompanyById" parameterType="int" resultMap="companyDtoMap">
        <include refid="selectFromCompany" />
        WHERE company_id = #{companyId}
    </select>

    <select id="selectCompanyByCategory" parameterType="map" resultMap="companyDtoMap">
        SELECT *
        FROM company c
        LEFT JOIN hallInfo h ON c.company_id = h.company_id
        LEFT JOIN studioInfo s ON c.company_id = s.company_id
        LEFT JOIN dressInfo d ON c.company_id = d.company_id
        LEFT JOIN makeupInfo m ON c.company_id = m.company_id
        LEFT JOIN companyImage i ON c.company_id = i.company_id
        WHERE c.company_category = #{category}
        ORDER BY c.company_id desc
        LIMIT #{pagination.pageSize} OFFSET #{pagination.startList}
    </select>

    <select id="selectCompanyListCnt" parameterType="String" resultType="int">
        SELECT count(*) FROM company
        WHERE company_category = #{category}
    </select>

    <select id="searchCompany" resultMap="companyDtoMap">
        SELECT *
        FROM company c
        LEFT JOIN hallInfo h ON c.company_id = h.company_id
        LEFT JOIN companyImage i ON c.company_id = i.company_id
        <where>
            <include refid="searchCondition" />
        </where>
    </select>

    <select id="searchResultCnt" parameterType="SearchItem" resultMap="companyDtoMap">
        SELECT count(*) FROM company
        WHERE true
        <include refid="searchCondition" />
    </select>

    <select id="selectHallDetail" parameterType="int" resultMap="companyDtoMap">
        SELECT * FROM company c
        LEFT JOIN hallInfo h ON c.company_id = h.company_id
        LEFT JOIN companyImage i ON c.company_id = i.company_id
        WHERE c.company_id = #{companyId}
    </select>

    <select id="selectCompanyImages" parameterType="int" resultType="CompanyImage">
        SELECT *
        FROM companyImage
        WHERE company_id = #{companyId}
    </select>

    <!-- 웨딩홀 일정 -->
    <select id="selectAvailableHallDate" parameterType="int" resultType="CompanyScheduleDTO">
        SELECT *
        FROM companySchedule
        WHERE company_id = #{companyId}
    </select>

    <select id="selectAvailableHallTime" parameterType="map" resultType="CompanyScheduleDTO">
        SELECT *
        FROM companySchedule
        WHERE company_name = #{companyName}
        AND date = #{date}
        ORDER BY time
    </select>
</mapper>