<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.wedder.customer.mapper.CustomerMapper">
    <insert id="customerJoin" parameterType="Customer">
        insert into customer (id, password, name, email, phone, gender) values(#{id},#{password},#{name},#{phone},#{email},#{gender})
    </insert>

    <!-- 아이디 중복 체크 쿼리 -->
    <select id="checkId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM customer WHERE id = #{id}
    </select>

    <select id="findById" parameterType="string" resultType="kr.co.wedder.customer.domain.CustomerDTO">
        SELECT id FROM customer WHERE id = #{id}
    </select>

    <!-- 로그인 시 아이디와 비밀번호 확인 쿼리 -->
    <select id="loginCheck" parameterType="Customer" resultType="Customer">
        SELECT id, name FROM customer WHERE id = #{id} AND password = #{password}
    </select>
</mapper>