<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.wedder.customer.dao.CustomerMapper">

    <!-- 회원 가입 -->
    <insert id="customerJoin" parameterType="CustomerDTO">
        insert into customer (id, password, name, phone, email, gender) values(#{id},#{password},#{name},#{phone},#{email},#{gender})
    </insert>

    <!-- 아이디 중복 체크 쿼리 -->
    <select id="checkId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM customer WHERE id = #{id}
    </select>

    <!-- 아이디로 사용자 정보 조회 -->
    <select id="findById" parameterType="string" resultType="customerDTO">
        SELECT * FROM customer WHERE id = #{id}
    </select>
</mapper>