<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wedder.mypage.dao.MyPageMapper">
	
	<sql id="selectFromMyPage">
		SELECT * FROM customer
	</sql>
	<sql id="selectFromCompany">
		SELECT * FROM company
	</sql>
	<sql id="selectFromReservation">
		select * from reservation
	</sql>
	<sql id="selectFromHistory">
		select * from history
	</sql>
	<sql id="selectFromCoImage">
		select * from companyImage
	</sql>
	<!--0912  --> 
	<sql id="selectFromPackCa">
   		SELECT * FROM packageCategory
	</sql>
	<sql id="selectFromStudioInfo">
	    SELECT * FROM studioInfo
	</sql>
	<sql id="selectFromHallInfo">
	    SELECT * FROM hallInfo
	</sql>
	<sql id="selectFromMakeupInfo">
	    SELECT * FROM makeupInfo
	</sql>
	<sql id="selectFromDressInfo">
	    SELECT * FROM dressInfo
	</sql>
	<sql id="selectFromOptionDto">
	    SELECT * FROM `option`
	</sql>
	<resultMap id="ToCustomerMap" type="MakeupInfo">
		<id column="makeup_id" property="makeupId"/>
		<result column="company_id" property="companyId"/>
		<result column="package_id" property="packageId"/>
		<result column="target" property="target"/>
		<result column="makeup_type" property="makeupType"/>
		<result column="position" property="position"/>
	</resultMap>
	<resultMap id="OptionDtoMap" type="OptionDto">
		<id column="option_id" property="optionId"/>
		<result column="hall_id" property="hallId"/>
		<result column="studio_id" property="studioId"/>
		<result column="dress_id" property="dressId"/>
		<result column="makeup_id" property="makeupId"/>
		<result column="option_name" property="optionName"/>
		<result column="option_price" property="optionPrice"/>
		<result column="category" property="category"/>
	</resultMap>
	<resultMap type="VisitCriteria" id="joinVisitCriteria">
	
		<association property="companyDto" javaType="CompanyDto">
			<result column="company_id" property="companyId"/>
			<result column="company_name" property="companyName"/>
			<result column="company_address" property="companyAddress"/>
			<result column="company_introduce" property="introduce"/>
			<result column="company_category" property="category"/>
			<result column="phone_num" property="phoneNum"/>
			<result column="operation_hours" property="operationHours"/>
			<result column="instagram_url" property="instagramUrl"/>
			<result column="basic_price" property="basicPrice"/>
			<result column="mood" property="mood"/>
			<result column="location" property="location"/>
		</association>

		<association property="myPageDTO" javaType="MyPageDTO">
			<result column="customer_id" property="customerId"/>
			<result column="name" property="name"/>
		</association>
		
		<association property="reservationDto" javaType="ReservationDto">
			<result column="reservation_id" property="reservationId"/>
			<result column="reservation_date" property="reservationDate"/>
			<result column="reservation_time" property="reservationTime"/>
			<result column="visit_reservation" property="visitReservation"/>
		</association>
		
		<association property="historyDto" javaType="HistoryDto">
			<result column="reservation_status" property="reservationStatus"/>
		</association>
		
		<association property="hallInfoDto" javaType="HallInfoDto">
			<result column="hall_id" property="hallId"/>
			<result column="hall_type" property="hallType"/>
			<result column="min_people" property="minPeople"/>
			<result column="parking" property="parking"/>
			<result column="meal_price" property="mealPrice"/>
		</association>
		<association property="dressInfo" javaType="DressInfo">
			<result column="dress_id" property="dressId"/>
			<result column="dress_type" property="dressType"/>
			<result column="repair_service" property="dressRepairService"/>
			<result column="consultation_time" property="dressConsultationTime"/>
			<result column="fitting_cnt" property="fittingCnt"/>
			<result column="measurement_time" property="dressMeasurementTime"/>
			<result column="composition" property="dressComposition"/>
		</association>
		<association property="makeupInfo" javaType="MakeupInfo">
			<result column="makeup_id" property="makeupId"/>
			<result column="company_id" property="companyId"/>
			<result column="package_id" property="packageId"/>
			<result column="target" property="target"/>
			<result column="makeup_type" property="makeupType"/>
			<result column="position" property="position"/>
		</association>
		<association property="studioInfo" javaType="StudioInfo">

		</association>
		<association property="optionDto" javaType="OptionDto">
			<result column="option_id" property="optionId"/>
			<result column="hall_id" property="hallId"/>
			<result column="studio_id" property="studioId"/>
			<result column="dress_id" property="dressId"/>
			<result column="makeup_id" property="makeupId"/>
			<result column="option_name" property="optionName"/>
			<result column="option_price" property="optionPrice"/>
			<result column="category" property="category"/>

		</association>
		<association property="companyImage" javaType="CompanyImage">
			<result column="img_url" property="imgUrl"/>
		</association>

	</resultMap>
	
	<!--selectOne  -->
	<select id="selectOne" parameterType="int" resultType="MyPageDTO">
		<include refid="selectFromMyPage"/>
		WHERE customer_id=#{customerId}
	</select>
	
	<select id="selectCompany" parameterType="int" resultType="CompanyDto">
		<include refid="selectFromCompany"/>
		Where company_id=#{companyId}
	</select>
	
	<select id="selectReservation" parameterType="int" resultType="ReservationDto">
		<include refid="selectFromReservation"/>
		Where
		reservation_id = #{reservationId}
	</select>
	
	<select id="selectHistory" parameterType="int" resultType="HistoryDto">
		<include refid="selectFromHistory"/>
		WHERE customer_id=#{customerId}
	</select>
	
	<select id="selectHallInfo" parameterType="int" resultType="HallInfoDto">
		<include refid="selectFromHallInfo"/>
		WHERE hall_id=#{hallId}
	</select>
	
	<select id="selectCoImage" parameterType="int" resultType="CompanyImage">
		<include refid="selectFromCoImage"/>
		WHERE img_id =#{imgId}
	</select>
	
	<select id="selectPackCa" parameterType="int" resultType="PackageCategoryDto">
		<include refid="selectFromPackCa"/>
    	WHERE category_id =#{categoryId}
	</select>
	
	<select id="selectStudioInfo" parameterType="int" resultType="StudioInfo">
		<include refid="selectFromStudioInfo"/>
	    WHERE studio_id =#{studioId}
	</select>
	
	<select id="selectMakeupInfo" parameterType="int" resultType="MakeupInfo">
		<include refid="selectFromMakeupInfo"/>
	    WHERE makeup_id =#{makeupId}
	</select>
	
	<select id="selectDressInfo" parameterType="int" resultType="DressInfo">
		<include refid="selectFromDressInfo"/>
	    where dress_id =#{dressId}
	</select>
	
	<select id="selectOptionDto" parameterType="String" resultMap="OptionDtoMap">
		<include refid="selectFromOptionDto"/>
	    WHERE category =#{category}
	</select>

	<select id="todayVisitHistory" parameterType="map" resultMap="joinVisitCriteria" >
		SELECT company_name , name, reservation_date, reservation_time, reservation_status
		FROM reservation
			 JOIN company 			ON reservation.company_id 		= company.company_id
			 JOIN customer 			ON reservation.customer_id 		= customer.customer_id
			 JOIN history 			ON history.customer_id 			= customer.customer_id
	 	Where customer.customer_id =#{customerId}
	</select>

	<select id="todayVisitCount" parameterType="map" resultType="int" >
		SELECT count(*)
		FROM reservation
			 JOIN company 			ON reservation.company_id 		= company.company_id
			 JOIN customer 			ON reservation.customer_id 		= customer.customer_id
			 JOIN history 			ON history.customer_id 			= customer.customer_id
	 	Where customer.customer_id =#{customerId}
	</select>
	
	<select id="todayReservationHistory" parameterType="map" resultType="CompanyDto">
		<include refid="selectFromCompany"/>
		where company_category =#{category}
		order by company_id desc,company_name desc
	</select>
	
	<select id="hallVisitReservatioinList" parameterType="map" resultMap="joinVisitCriteria">
		select *
		From reservation
			JOIN company 			ON 	company.company_id 			= reservation.company_id
    		JOIN customer 			ON 	reservation.customer_id 	= customer.customer_id
    		JOIN hallInfo 			ON 	reservation.company_id 		= hallInfo.company_id
    		JOIN companyImage 		ON 	companyImage.company_id 	= reservation.company_id

   		Where 						reservation.customer_id 		= #{customerId}
   		and 						company.company_category 		= #{category}
   		and 						reservation.visit_reservation 	= #{visitReservation}
	</select>
	<select id="coReservationList" parameterType="map" resultMap="joinVisitCriteria">
		select *
		From reservation
	         JOIN company 			ON 	company.company_id 			= reservation.company_id
	         JOIN customer 			ON 	reservation.customer_id 	= customer.customer_id
	         JOIN companyImage 		ON 	companyImage.company_id 	= reservation.company_id

		where   					customer.customer_id 			= #{customerId}
	  	and   		    			company.company_category 		= #{category}
	</select>

	<select id="coReservationDetail" parameterType="map" resultMap="joinVisitCriteria">
		SELECT * ,
		(CASE
		WHEN c.company_category ='웨딩홀' THEN hallInfo.hall_type
		end )as '웨딩홀',
		(CASE
		WHEN c.company_category ='드레스' THEN dressInfo.dress_type
		end )as '드레스',
		(CASE
		WHEN c.company_category ='메이크업' THEN makeupInfo.makeup_type
		end ) as '메이크업',
		(CASE
		WHEN c.company_category ='스튜디오' THEN studioInfo.shoot_type
		end ) as '스튜디오'
		from company c
		LEFT  JOIN hallInfo           ON c.company_id                 = hallInfo.company_id
		LEFT  JOIN dressInfo          ON c.company_id                 = dressInfo.company_id
		LEFT  JOIN makeupInfo         ON c.company_id                 = makeupInfo.company_id
		LEFT  JOIN studioInfo         ON c.company_id                 = studioInfo.company_id
		LEFT  JOIN `option`           ON c.company_category           = option.category
		where c.company_category IN ('웨딩홀','드레스','메이크업','스튜디오')
	</select>

<!--메이크업 정보를 불러오는 select	-->
	<select id="ToCustomerMakeupInfo" parameterType="map" resultMap="ToCustomerMap">
		select * from makeupInfo
		where makeup_id=${makeupId} and company_id=${companyId}
	</select>

	<select id="ToCustomerOptionInfo" parameterType="map" resultMap="joinVisitCriteria">
		select *
		from `option`
		join wedder.makeupInfo mI on `option`.makeup_id = mI.makeup_id
		where mI.makeup_id=${makeupId} and company_id=${companyId}
	</select>

	<select id="customerId" parameterType="String" resultType="MypageDTO">
		select * from customer
		where id="${id}";
	</select>
</mapper>