<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wedder.mypage.dao.MyPageMapper">
	
	<sql id="selectFromMyPage">
		SELECT * FROM customer
	</sql>
	<sql id="selectFromCompany">
		select * from company
	</sql>
	<sql id="selectFromReservation">
		select * from reservation
	</sql>
	
	<!--selectOne  -->
	<select id="selectOne" parameterType="int" resultType="MyPageDTO">
		<!-- <include refid="selectFromMyPage"></include> -->
		SELECT * FROM customer
		WHERE customer_id=#{customer_id}
	</select>
	
	<select id="selectCompany" parameterType="int" resultType="CompanyDto">
		<include refid="selectFromCompany"></include>
		Where company_id=#{company_id} 
	</select>
	
	<select id="selectReservation" parameterType="int" resultType="ReservationDto">
		<include refid="selectFromReservation"></include>
		Where
		reservation_id = #{reservation_id}
	</select>
	
	<select id="todayVisitHistory" parameterType="map" resultType="VisitCriteria">
	SELECT company.company_name , customer.name, reservation.reservation_date, reservation.reservation_time
		FROM reservation
		 JOIN company ON reservation.company_id = company.company_id
		 JOIN customer ON reservation.customer_id = customer.customer_id
		 Where company.company_id=#{company_id} and customer.customer_id =#{customer_id}
	</select>
</mapper>